@charset "utf-8";
.autocomplete {z-index:99999; position:relative; top: 60px; width: 400px; display: block;}
.autocomplete ul {margin: 0 0 0 0 !important}
.autocomplete li {margin:0; padding:0; list-style:none;}
.autocomplete .autocomplete_content {position: absolute; top: -121px; left: 309px; width: 408px; border-width: 0px 1px 1px; border-top-style: initial; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-top-color: initial; border-right-color: rgb(100, 100, 100); border-bottom-color: rgb(100, 100, 100); border-left-color: rgb(100, 100, 100); border-image: initial; }
.autocomplete .autocomplete_content li {color:#777777; width:395px; padding:3px 5px; list-style:none; font-size:16px; background-color: rgb(255, 255, 255); cursor: pointer}
.autocomplete .autocomplete_content li strong {color:#EA8D07; font-weight:bold; font-style:normal;}
.autocomplete .autocomplete_content li em {color:#e46511; font-weight:bold; font-style:normal;}
/* .autocomplete .autocomplete_content li image {} */
.autocomplete .autocomplete_footer {position:relative; font-size:11px; height:26px; text-align:center; background-color:#f3f3f3;}
.autocomplete .autocomplete_footer a {color:#666666; text-decoration:none;}
.autocomplete .autocomplete_footer .left {float:left;}
.autocomplete .autocomplete_footer .right {float:right;}
